@using TheSkibiditeca.Web.Models.ModelPartial
@{
    ViewData["Title"] = "Home | The Skibiditeca";
}

<div class="container pt-5 pb-5 scrolled">
    <div class="text-center text-white">
        <h2 class="display-2">@await Html.PartialAsync("Partial/_TypingText", "The Skibiditeca")</h2>
        <p>La biblioteca más insana</p>
        <a class="btn btn-custom-1" href=@Url.Action("List", "Book")>Ver libros</a>
    </div>  
</div>
<div class="container pb-2">
    <div class="row justify-content-between">
        <div class="col scrolled">
            @await Html.PartialAsync("Partial/_Card", new CardModel(){
                Title = ViewBag.Random.Title,
                Description = ViewBag.Random.Description,
                Image = ViewBag.Random.CoverImageUrl,
                IDBook = ViewBag.Random.BookId
            })
        </div>
        <div class="col scrolled">
            @await Html.PartialAsync("Partial/_Card", new CardModel(){
                Title = ViewBag.Newest.Title,
                Description = ViewBag.Newest.Description,
                Image = ViewBag.Newest.CoverImageUrl,
                IDBook = ViewBag.Newest.BookId
            })
        </div>
        <div class="col scrolled">
            @await Html.PartialAsync("Partial/_Card", new CardModel(){
                Title = ViewBag.Popular.Title,
                Description = ViewBag.Popular.Description,
                Image = ViewBag.Popular.CoverImageUrl,
                IDBook = ViewBag.Popular.BookId
            })
        </div>
    </div>
</div>

