@using TheSkibiditeca.Web.Models.Auth
@model RegisterModel
@{
	ViewData["Title"] = "Registrar";
}

<div class="container text-light w-25 mt-3 mb-3" style="border: solid 2px; border-radius: 20px" >
    <h2 class="mt-3 text-center">Registro</h2>
    <form method="post" asp-action="Register" class="main-form">
        <div class="input-container">
            <input required type="text" class="form-custom" placeholder="Nombres" asp-for="user.FirstName">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
            </svg>
        </div>

        <div class="input-container">
            <input required type="text" class="form-custom"  placeholder="Apellidos" asp-for="user.LastName">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
            </svg>
        </div>

        <div class="input-container">
            <input required type="email" class="form-custom" id="mail" placeholder="Correo" asp-for="user.Email">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
            </svg>
        </div>

        <div class="input-container">
            <input required type="password" class="form-custom" placeholder="Contraseña" aria-describedby="passwordHelpBlock" asp-for="passwordStr">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5" />
                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
            </svg>
        </div>

        <div class="input-container">
            <input required type="password" class="form-custom" placeholder="Confirmar Contraseña" aria-describedby="passwordHelpBlock" asp-for="passwordConf">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2M2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
            </svg>
        </div>

        <div class="input-container">
            <input class="form-custom" placeholder="Telefono (Opcional)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
            </svg>
        </div>

        
        <div class="mb-3 w-75 m-auto">
            <label for="sexowo" class="form-custom">Carrera:</label>
            <select required name="carrera" id="carrera" class="select-custom">
                <option value="" selected disabled>Seleccione una carrera</option>
                <option value="ADMINISTRACION">ADMINISTRACION</option>
                <option value="AGRONOMIA">AGRONOMIA</option>
                <option value="BIOLOGIA Y BIOTECNOLOGIA">BIOLOGIA Y BIOTECNOLOGIA</option>
                <option value="CONTABILIDAD">CONTABILIDAD</option>
                <option value="DERECHO">DERECHO</option>
                <option value="ECONOMIA">ECONOMIA</option>
                <option value="EDUC. CC. NN. QUIM. Y BIOLOGIA">EDUC. CC. NN. QUIM. Y BIOLOGIA</option>
                <option value="EDUC. INGLES - ESPAÑOL">EDUC. INGLES - ESPAÑOL</option>
                <option value="EDUC. LENGUAJE Y LITERATURA">EDUC. LENGUAJE Y LITERATURA</option>
                <option value="EDUC. MATEMATICA Y FISICA">EDUC. MATEMATICA Y FISICA</option>
                <option value="EDUC. PRIMARIA">EDUC. PRIMARIA</option>
                <option value="ENFERMERIA">ENFERMERIA</option>
                <option value="INDUSTRIAS ALIMENTARIAS">INDUSTRIAS ALIMENTARIAS</option>
                <option value="INGENIERIA AMBIENTAL">INGENIERIA AMBIENTAL</option>
                <option value="INGENIERIA CIVIL">INGENIERIA CIVIL</option>
                <option value="INGENIERIA DE MINAS">INGENIERIA DE MINAS</option>
                <option value="INGENIERIA DE SISTEMAS">INGENIERIA DE SISTEMAS</option>
                <option value="INGENIERIA EN AGRONEGOCIOS">INGENIERIA EN AGRONEGOCIOS</option>
                <option value="INGENIERIA FORESTAL">INGENIERIA FORESTAL</option>
                <option value="INGENIERIA GEOLOGICA">INGENIERIA GEOLOGICA</option>
                <option value="INGENIERIA HIDRAULICA">INGENIERIA HIDRAULICA</option>
                <option value="INGENIERIA SANITARIA">INGENIERIA SANITARIA</option>
                <option value="INGENIERIA ZOOTECNISTA">INGENIERIA ZOOTECNISTA</option>
                <option value="MEDICINA HUMANA">MEDICINA HUMANA</option>
                <option value="MEDICINA VETERINARIA">MEDICINA VETERINARIA</option>
                <option value="OBSTETRICIA">OBSTETRICIA</option>
                <option value="SOCIOLOGIA">SOCIOLOGIA</option>
                <option value="TURISMO Y HOTELERIA">TURISMO Y HOTELERIA</option>
            </select>
        </div>
        <div class="mb-3 text-center">
                <input type="submit" value="Registrar" class="btn btn-custom-1">
        </div>
        <div class="m-3">
            <p>Ya estas registrado? <span><a asp-controller="Auth" asp-action="Login" title="Iniciar Sesion">Iniciar Sesion</a></span></p>
        </div>
    </form>
</div>
