@model BookCreateModel;
@using TheSkibiditeca.Web.Models.BookModels
@using TheSkibiditeca.Web.Models.Entities

@{
    ViewData["Title"] = "Create";
    List<string> authors = [];
}

<div class="container">
    <h1 class="text-light">Agregar nuevo libro</h1>
    <hr />
    <div class="row text-center justify-content-center form-group-container">
        <div class="col-md-4 text-light">
            <form asp-action="Book" asp-controller="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group my-3">
                    <label asp-for="book.Title" class="control-label">Título</label>
                    <input required asp-for="book.Title" class="form-control" />
                    <span asp-validation-for="book.Title" class="text-danger"></span>
                </div>

                <div class="form-group my-3">
                    <label asp-for="book.CategoryId" class="control-label">Categoría</label>
                    <select required asp-for="book.CategoryId" class="form-control">
                        <option value="" selected disabled>Selecciona una categoría</option>
                        @{
                            foreach(Category cat in ViewBag.Categories)
                            {
                                <option value="@cat.CategoryId">@cat.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="book.CategoryId" class="text-danger"></span>
                </div>

                <div class="form-group my-3">
                    <label asp-for="book.Description" class="control-label">Descripción</label>
                    <textarea asp-for="book.Description" class="form-control" ></textarea>
                    <span asp-validation-for="book.Description" class="text-danger"></span>
                </div>

                <div class="form-group my-3">
                    <label asp-for="book.CoverImageUrl" class="control-label">URL de la portada</label>
                    <input required asp-for="book.CoverImageUrl" class="form-control" type="url" />
                    <span asp-validation-for="book.CoverImageUrl" class="text-danger"></span>
                </div>

                <div class="form-group my-3">
                    <label asp-for="authors" class="control-label">Autores</label>
                    <select required asp-for="authors" multiple readonly class="form-select">
                        @{
                            foreach(Author author in ViewBag.Authors)
                            {
                                <option value="@author.AuthorId">@author.FullName</option>
                            }
                        }
                    </select>
                    
                    <span asp-validation-for="authors" class="text-danger"></span>
                </div>

                <div class="form-group my-3">
                    <label asp-for="Copies" class="control-label">Cantidad de copias</label>
                    <input required asp-for="Copies" class="form-control" />
                    <span asp-validation-for="Copies" class="text-danger"></span>
                </div>

                <div class="form-group my-3">
                    <input type="submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


