@model TheSkibiditeca.Web.Models.Entities.Loan
@using TheSkibiditeca.Web.Models.Entities

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Loan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="container">
            <ul>
                @{
                    foreach(Book bo in ViewBag.ShoopingBooks)
                    {
                        <li>@bo.Title</li>
                    }
                }
            </ul>
        </div>
        <form asp-action="View">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
