@model TheSkibiditeca.Web.Models.Entities.Loan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Loan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LoanId" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanDate" class="control-label"></label>
                <input asp-for="LoanDate" class="form-control" />
                <span asp-validation-for="LoanDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedReturnDate" class="control-label"></label>
                <input asp-for="ExpectedReturnDate" class="form-control" />
                <span asp-validation-for="ExpectedReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualReturnDate" class="control-label"></label>
                <input asp-for="ActualReturnDate" class="form-control" />
                <span asp-validation-for="ActualReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RenewalsCount" class="control-label"></label>
                <input asp-for="RenewalsCount" class="form-control" />
                <span asp-validation-for="RenewalsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxRenewals" class="control-label"></label>
                <input asp-for="MaxRenewals" class="form-control" />
                <span asp-validation-for="MaxRenewals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observations" class="control-label"></label>
                <input asp-for="Observations" class="form-control" />
                <span asp-validation-for="Observations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMember" class="control-label"></label>
                <input asp-for="StaffMember" class="form-control" />
                <span asp-validation-for="StaffMember" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <input asp-for="User" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanDetails" class="control-label"></label>
                <input asp-for="LoanDetails" class="form-control" />
                <span asp-validation-for="LoanDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fines" class="control-label"></label>
                <input asp-for="Fines" class="form-control" />
                <span asp-validation-for="Fines" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsOverdue" class="control-label"></label>
                <input asp-for="IsOverdue" class="form-check-input" />
                <span asp-validation-for="IsOverdue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysOverdue" class="control-label"></label>
                <input asp-for="DaysOverdue" class="form-control" />
                <span asp-validation-for="DaysOverdue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanRenew" class="control-label"></label>
                <input asp-for="CanRenew" class="form-check-input" />
                <span asp-validation-for="CanRenew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
