<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Skibiditeca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheSkibiditeca.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class=" navbar navbar-expand-sm navbar-toggleable-sm box-shadow rounded-3" style="background-image: linear-gradient(to right, #1e202c, #60519b)">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/pez_gato_w.png" alt="Logo" width="60"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light hov-underline mx-2" asp-area="" asp-controller="List" asp-action="Book">Libros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light hov-underline mx-2" asp-area="" asp-controller="Home" asp-action="Index">Autores</a>
                        </li>
                    </ul>
                    @await Html.PartialAsync("Partial/_UserInfo");
                </div>
            </div>
        </nav>
    </header>

    <main role="main" >
        @RenderBody()
    </main>

    <footer class="footer text-muted bg-dark">
        <div class="container" style="color: gray">
            <div class="row justify-content-between">
                <div class="col">
                    &copy; TheSkibiditeca made with 💖 and 🍪☕
                </div>
                <div class="col text-right">
                    <ul class="d-flex justify-content-end list-unstyled m-0">
                        <li><a class="nav-link p-0 px-2 hov-underline-simple" style="color: gray" asp-controller="Home" asp-action="Privacy">Privacidad</a></li>
                        <li><a class="nav-link p-0 px-2 hov-underline-simple" style="color: gray" asp-controller="Home" asp-action="Credits">Créditos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
