hr {
    background-color: white;
}

svg {
    margin: 5px;
}

.btn-custom {
    background: #31323c;
    border-color: #31323c;
    color: #bfe0d1
}

.btn-custom:hover {
    background: #1e202c;
    border-color: #1e202c;
}

.btn-outline-custom {
    background: transparent;
    border-color: #31323c;
}

.btn-outline-custom:hover {
    background: #1e202c;
    border-color: #1e202c;
}

.btn-custom-1 {
    background: #60519b;
    border-color: #60519b;
    color: white
}

.btn-custom-1:hover {
    background: #504482;
    border-color: #504482;
    color: white
}

.bg-black-custom {
    background:#31323c;
}

.hov-underline {
    box-sizing: border-box;
    border-bottom: solid 3px;
    border-color: transparent;
}

.hov-underline:hover {
    border-bottom: solid 3px;
    border-color: white;
}

.hov-underline-simple:hover {
    text-decoration: underline
}

.scrolled {}

.form-custom {
    background: none;
    margin-top: 5%;
    border: none;
    color: white;
}

.form-custom::placeholder {
    color: gray;
}

.form-custom::target-text {
    color: white;
}


.form-custom:focus-visible {
    border: none;
    outline: none;
}

.input-container {
    border-bottom: solid 2px white;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.select-custom {
    color: lightgray;
    width: 100%;
    background: none;
    border-top: none;
    border-bottom: solid 2px white;
    border-left: none;
    border-right: none;
}

.select-custom:focus-visible {
    outline: none;
}

.select-custom::selection {
    background-color: black;
}

.book-img {
    border-radius: 10px;
    border: solid 5px #60519b;
    height: 21em;
    width: 17rem;
}

.minibook-container {
    margin: 1rem;
    background-color: #31323e;
    max-width: 15rem;
    min-width: 15rem;
}

.page-item.custom-disabled .page-link {
    background: #31323f;
    border-color: #31323f;
    color: white
}
