@{
    var allBooks = (List<BookMiniCardModel>)ViewBag.AllBooks;
    int currentPage = (int)ViewData["CurrentPage"];
    int totalPages = (int)ViewData["TotalPages"];
    int pageSize = (int)ViewData["PageSize"];
}
@using TheSkibiditeca.Web.Models.ModelPartial

<div class="container text-light my-4">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Lista de libros</h1>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="pageSizeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Mostrar @pageSize
            </button>
            <ul class="dropdown-menu" aria-labelledby="pageSizeDropdown">
                <li><a class="dropdown-item" href="?page=1&pageSize=30">30</a></li>
                <li><a class="dropdown-item" href="?page=1&pageSize=50">50</a></li>
                <li><a class="dropdown-item" href="?page=1&pageSize=100">100</a></li>
            </ul>
        </div>
    </div>
    <div class="row my-3">
        @foreach(var book in allBooks) {
            <div class="col scrolled">
                @await Html.PartialAsync("Partial/_BookMiniCard", book)
            </div>
        }
    </div>

    <nav class="py-2">
        <ul class="pagination justify-content-center">
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="?page=@(currentPage - 1)&pageSize=@pageSize">Anterior</a>
            </li>

            @for(int i = currentPage - 2; i <= currentPage + 2; i++) {
                if(i >= 1) {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" href="?page=@i&pageSize=@pageSize">@i</a>
                    </li>
                }
               
            }

            <li class="page-item  @(currentPage == totalPages ? "disabled" : "")">
                <a class="page-link" href="?page=@(currentPage + 1)&pageSize=@pageSize">Siguiente</a>
            </li>
        </ul>
    </nav>
</div>

